.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/libraries/facebook/build
.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

app/src/main/java/connect/_notes/dwsync.xml
