<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="de.braunschweig.braunschweigermedientagequiz" >
<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" /> <!-- Kleinste unterstützte Android Version: Gingerbread. Neueste unterstützte Android Version KitKat -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >

    <meta-data android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />

    <activity
        android:name="de.braunschweig.braunschweigermedientagequiz.MainActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name="de.braunschweig.braunschweigermedientagequiz.Registrieren"
        android:label="@string/title_activity_registrieren" >
    </activity>
    <activity
        android:name="de.braunschweig.braunschweigermedientagequiz.MainMenuActivity"
        android:label="@string/title_activity_mainmenu" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </activity>
    <activity
        android:name="de.braunschweig.braunschweigermedientagequiz.FriendlistActivity"
        android:label="@string/title_activity_friendlist" >
    </activity>
    <activity
        android:name="de.braunschweig.braunschweigermedientagequiz.OffeneSpieleActivity"
        android:label="@string/title_activity_offenespiele" >
    </activity>
    <activity
        android:name="de.braunschweig.braunschweigermedientagequiz.PersDatenActivity"
        android:label="@string/title_activity_persdaten" >
    </activity>
    <activity
        android:name="de.braunschweig.braunschweigermedientagequiz.HighscoreActivity"
        android:label="@string/title_activity_highscore" >
    </activity>

    <activity android:name="com.facebook.LoginActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />


</application>

</manifest>
